<h1 class="main-title"><%= @movie_details["title"] %></h1>

<div class="row">
  <div class="col-xs-12">
    <div class="overview-container">
      <% if @movie_details["backdrop_path"] == nil %>
        <%= image_tag("/assets/placeholder_lg.png", class: "img-responsive") %>
      <% else %>
        <%= image_tag("http://image.tmdb.org/t/p/w500#{@movie_details["backdrop_path"]}", class: "img-responsive") %>
      <% end %>
     <div class= overview-details>
       <p>Homepage: <%= @movie_details["homepage"].nil? ? "Not sure -- maybe google it?" : (link_to @movie_details["homepage"], @movie_details["homepage"], class: "link-to-text-color") %></p>
       <p>Genres:</p>
         <ul>
          <% @movie_details["genres"].each do |genre| %>
          <li><%= genre["name"] %></li>
          <% end %>
         </ul>
       <p>Release Date: <%= @movie_details["release_date"] == nil ? "Hmm.. It's unclear." : @movie_details["release_date"] %></p>
     </div>
   </div>
 </div>
</div>

<div class="show-details">
 <h4><%= @movie_details["overview"].nil? ? "None" : @movie_details["overview"] %></h4>
</div>

<% if !@reviews["results"].empty? %>
  <div class="show-details reviews">
    <h4 class="review-title">Reviews</h4>
      <% @reviews["results"].each do |review| %>
        <div class="review-text">
            <div class="review-author"><%= review["author"]%>:</div>
            <% if review["content"].length > 600 %>
              <%= truncate(review["content"], length: 600) %>
              <%= link_to '...Read more', '', class: "read-more-#{review["id"]}" %>
                <script>
                  $('.read-more-<%= review["id"] %>').on('click', function(e) {
                    e.preventDefault()
                    $(this).parent().html('<%= escape_javascript review["content"] %>')
                  })
                </script>
            <% else %>
              <%= review["content"] %>
            <% end %>
        </div>
      <% end %>
  </div>
<% end %>
