<h1 class="main-title">Results</h1>

<% if @search_results["results"] == nil %>
  <h4>Give us something to work with! Just enter something, anything, into the search bar!</h4>
<% elsif @search_results["results"].empty? %>
  <h4>Huh? Nothing... </h4>
<% else %>

  <div class="row">
    <% @search_results["results"].each do |tv_show| %>
      <div class="col-md-3">
        <div class="image-text-container">
          <% if tv_show["backdrop_path"] == nil %>
            <%= link_to image_tag("/assets/placeholder.png", class: "img-responsive"), tv_show_path(tv_show["id"]) %>
          <% else %>
            <%= link_to image_tag("http://image.tmdb.org/t/p/w185#{tv_show["backdrop_path"]}", class: "img-responsive"), tv_show_path(tv_show["id"]) %>
          <% end %>
          <% if tv_show["name"].length > 40 %>
            <div class="text-block-sm-font"><%= link_to tv_show["name"], tv_show_path(tv_show["id"]), class: 'link-to-text-color' %></div>
          <% else %>
            <div class="text-block"><%= link_to tv_show["name"], tv_show_path(tv_show["id"]), class: 'link-to-text-color' %></div>
          <% end %>
        </div>
      </div>
    <% end %>
   </div>

   <nav aria-label="..." class= "search-nav">
     <ul class="pagination">
       <li class="page-item"><%= link_to "Previous", tv_search_path(@query, @previous ), class: "page-link" %></li>
       <% @search_results["total_pages"].times do | page | %>
         <% page += 1 %>
         <li class="page-item"><%= link_to page, tv_search_path(@query, page), class: "page-link" %></li>
       <% end %>
       <% @next <= @search_results["total_pages"] ? @next : @next = @search_results["total_pages"] %>
       <li class="page-item"><%= link_to "Next", tv_search_path(@query, @next), class: "page-link" %></li>
     </ul>
   </nav>

<% end %>
