<h1 class="main-title"><%= @tv_details["name"] %></h1>

<div class="row">
  <div class="col-xs-12">
    <div class="overview-container">
      <% if @tv_details["backdrop_path"] == nil %>
        <%= image_tag("/assets/placeholder_lg.png", class: "img-responsive") %>
      <% else %>
        <%= image_tag("http://image.tmdb.org/t/p/w500#{@tv_details["backdrop_path"]}", class: "img-responsive") %>
      <% end %>
     <div class= overview-details>
       <p>Homepage: <%= @tv_details["homepage"].empty? ? "Not sure -- maybe google it?" : (link_to @tv_details["homepage"], @tv_details["homepage"], class: "link-to-text-color") %></p>
       <p>Created By: <%= @tv_details["created_by"].empty? ? "Sorry we don't know!" : @tv_details["created_by"][0]["name"] %></p>
       <p>Genres:</p>
         <ul>
           <% @tv_details["genres"].each do |genre| %>
             <li><%= genre["name"] %></li>
           <% end %>
         </ul>
       <p>First Air Date: <%= @tv_details["first_air_date"] == nil ? "Hmm.. It's unclear." : @tv_details["first_air_date"] %></p>
       <p>Next Episode Date: <%= @tv_details["next_episode_to_air"] == nil ? "Nothing Scheduled" : @tv_details["next_episode_to_air"]["air_date"] %></p>
     </div>
    </div>
  </div>
</div>

<div class="show-details">
 <h4><%= @tv_details["overview"].empty? ? "None" : @tv_details["overview"] %></h4>
</div>

<div class="show-details reviews">
  <h4 class="review-title">Reviews</h4>
    <% if !@reviews["results"].empty? %>

      <% @reviews["results"].each do |review| %>
        <div class="review-text">
          <div class="review-author"><%= review["author"]%>:</div>
            <% if review["content"].length > 600 %>
              <%= truncate(review["content"], length: 600) %>
              <%= link_to '...Read more', '', class: "read-more-#{review["id"]}" %>
                <script>
                  $('.read-more-<%= review["id"] %>').on('click', function(e) {
                    e.preventDefault()
                    $(this).parent().html('<%= escape_javascript review["content"] %>')
                  })
                </script>
            <% else %>
              <%= review["content"] %>
            <% end %>
        </div>
      <% end %>

    <% else %>
      <div class="review-text"><p>No one ain't sayin nothin about this...</p></div>
    <% end %>
</div>
