<!DOCTYPE html>
<html>
  <head>
    <title>Up Next</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
      <nav class="navbar navbar-inverse">
        <div class="navbar-header">
          <%= link_to image_tag("/assets/up_next_logo.jpg", class: "navbar-brand"), tv_popular_path %>
        </div>

        <div>
          <ul class= "nav navbar-nav">
            <li><%= link_to "TV Shows", tv_popular_path %></li>
          </ul>
          <div class="navbar-form navbar-left navbar-nav">
           <%= render "tv_search"%>
         </div>
        </div>
      </nav>

     <div class="container">
       <%= yield %>
     </div>

    </div>
  </body>
</html>
